.container {
  max-width: 120rem;
  margin: 3rem auto;
  background: #f1f2f3;
  padding: 5rem;
}
.new-recipe__button {
  text-decoration: none;
  text-transform: uppercase;
  background: #64b5f6;
  color: #ffffff;
  border: none;
  padding: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 1rem;
}
